.table-scroll {
  overflow-y: auto;
}

.table-scroll .table-responsive {
  overflow-x: unset;
}

.table-scroll .table-responsive table thead {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: white;
  z-index: 1;
}

.tables-item-selected {
  background-color: #caeaff;
  --bs-table-accent-bg: #caeaff;
}

.table-ellipsis {
  width: 100%;
}

.table-ellipsis td {
  max-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: middle;
}