.btn-loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-loading-container .btn-loading-text {
  margin-left: 5px;
}
.bootstrap-dialog .button-cancel, .button-save {
  min-width: 80px;
}
.bootstrap-confirm {
  min-width: 360px;
}

.bootstrap-confirm .bootstrap-confirm-header, .bootstrap-confirm-body, .bootstrap-confirm-footer {
  border: none;
  padding: 1rem 1.5rem;
  padding-left: 4rem;
}

.bootstrap-confirm .bootstrap-confirm-header {
  padding-top: 1.5rem;
  padding-bottom: 0.2rem;
}

.bootstrap-confirm .bootstrap-confirm-header .bootstrap-confirm-title {
  font-size: 1rem;
  position: relative;
}

.bootstrap-confirm .bootstrap-confirm-header .bootstrap-confirm-title .bootstrap-confirm-icon {
  position: absolute;
  left: -2.2rem;
  font-size: 1.5rem;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.bootstrap-confirm .bootstrap-confirm-body {
  padding: 0 1.5rem;
  padding-left: 4rem;
}


.bootstrap-confirm .bootstrap-confirm-footer .button-cancel, .button-save {
  min-width: 60px;
}

.bootstrap-confirm .bootstrap-confirm-content.confirm {
  border-color: #00000033;
}

.bootstrap-confirm .bootstrap-confirm-content.warning {
  border-color: #faad14;
}

.bootstrap-confirm .bootstrap-confirm-content.info {
  border-color: #1890ff;
}

.bootstrap-confirm .bootstrap-confirm-content.error {
  border-color: #ff4d4f;
}
.canvas-backdrop {
  z-index: 1040;
}
.paginations-item {
  min-width: 42px;
}

.paginations-item.sm {
  min-width: 32px;
}

.paginations-item .page-link {
  text-align: center;
}
.table-scroll {
  overflow-y: auto;
}

.table-scroll .table-responsive {
  overflow-x: unset;
}

.table-scroll .table-responsive table thead {
  position: sticky;
  top: 0;
  background: white;
  z-index: 1;
}

.tables-item-selected {
  background-color: #caeaff;
  --bs-table-accent-bg: #caeaff;
}

.table-ellipsis {
  width: 100%;
}

.table-ellipsis td {
  max-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: middle;
}

.table-container .center {
  text-align: center;
}

.table-container .table-paginations {
  margin-top: 8px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}

.table-container .table-paginations .pagination {
  margin: 0;
}

.table-container .table-paginations>span {
  margin-right: 8px;
}

.table-container .data-not-found {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tooltip-container {
  display: inline-block;
}
.popovers-container {
  display: inline-block;
}

.popovers-dialog {
  display: none;
}

.popovers-backdrop {
  background-color: transparent;
}
.placeholder-root {
  display: inline;
  display: initial;
}

.placeholder-root .margin {
  margin-right: 5px;
}
.loading-root {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00000091;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bt-space {
  display: inline-flex;
  grid-gap: 16px;
  gap: 16px;
}

.bt-space.sm {
  grid-gap: 8px;
  gap: 8px;
}

.bt-space.lg {
  grid-gap: 24px;
  gap: 24px;
}

.bt-space.vertical {
  display: flex;
  flex-direction: column;
}

.bt-space.center {
  align-items: center;
}

.bt-space.start {
  align-items: flex-start;
}

.bt-space.end {
  align-items: flex-end;
}

.bt-space.baseline {
  align-items: baseline;
}

.bt-space.wrap {
  flex-wrap: wrap;
}

/*# sourceMappingURL=main.6b8a6a04.chunk.css.map*/